
{% extends 'layout.html' %}
{% block title %}
Books.AI Contact
{% endblock %}

{% block content %}

<style>
    .rounded-border {
        border: 2px solid black;
        border-radius: 10px;
        padding: 10px;
        width: 200px;
    }
    .bold-italic {
        font-weight: bold;
        font-style: italic;
    }
</style>

<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="cell small-12 medium-12 center-title">
            <div>
                <div class="center">
                    <img src="static\images\book.png" alt="AI" width="100px;">
                </div>
            </div>
        </div>

        <div class="cell small-12 medium-12">
            <br>
        </div>

        <div class="cell small-12 medium-12">
            <br>
        </div>

        <div class="cell small-12 medium-12 rounded-border">
            <h4 class="bold-italic">Contact Details</h4>
            <br>
            <h6>For enquiries or further demos, please reach out to:</h6>
            <br>
            <h6>andrew.finch@mudano.com</h6>
        </div>

        <div class="cell small-12 medium-12">
            <br>
        </div>

        <div class="cell small-12 medium-12">
          <br>
          <hr>
          <br>
        </div>

        
    </div>
</div>


{% endblock %}